main {
    background-image: url("/resources/img/dc-logo-bg.png"), url("/resources/img/footer-bg.jpg");
    background-position: right 30% top 190%, center;
    background-repeat: no-repeat;
    background-size: 450px, cover;
    
    .row {
        display: flex;
        height: 350px;
    }
    
    .col:first-child {
        margin-left: 250px;
    }
    
    .col {
        padding: 0 20px;
    }
    
    section {
        background-color: #0282f9;
    }
    
    img {
        max-width: 60px;
        height: 60px;
        margin-right: 20px;
    }
    
    figure {
        height: 171px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    p {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }    
}

h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #737578;
    }
}
